<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410903651520-ke8l7j1ea3n7geqv3ketq24mf6nnjgiq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410903651520-ke8l7j1ea3n7geqv3ketq24mf6nnjgiq</string>
	<key>API_KEY</key>
	<string>AIzaSyDiRiQEx0ELdva3DAjSSoForgTT5Fy3REA</string>
	<key>GCM_SENDER_ID</key>
	<string>410903651520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bridgelabz.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-f8ac1</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-f8ac1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410903651520:ios:5a31be4392420c6ecc7925</string>
</dict>
</plist>